<ion-view view-title="Template 1">

    <ion-nav-bar>

        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>

    <ion-content><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <ion-tabs tabbarPlacement="top">

            <ion-tab title="Meu Local" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-list class="">

                    <label>
                        <input type="text" ng-model="data.street" placeholder="Endereço">
                    </label>
                    <ion-item>
                        <ion-label>Favoritar</ion-label>
                        <ion-checkbox ngModel="favorito"></ion-checkbox>
                     </ion-item>

                </ion-list>
            </ion-tab>

            <ion-tab title="Favoritos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
                <ion-list>
                    <ion-radio ng-model="choice" ng-value="'A'">Endereço 1</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'B'">Endereço 2</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'C'">Endereço 3</ion-radio>
                </ion-list>
            </ion-tab>

            <ion-tab title="Recentes" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                <div>
                    <ion-radio ng-model="choice" ng-value="'A'">Endereço 1</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'B'">Endereço 2</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'C'">Endereço 3</ion-radio>
                </div>
            </ion-tab>

        </ion-tabs>
     
    </ion-content>
    
    <ion-footer-bar>
            <button ng-click="saveFavouriteIfCheckboxMarked()">Continuar</button>
    </ion-footer-bar>

</ion-view>