<ion-view view-title="Template 1">

    <ion-nav-bar>

        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>

    <ion-content><br><br><br><br><br><br><br><br><br><br><br><br><br>
       
           <ion-tabs tabbarPlacement="top">


            <ion-tab title="Meu Local" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-list class="">
                
                 
                    <label>
                        <input type="text" ng-model="data.street" placeholder="endereço" id="endec">
                    </label>
                    <ion-item>
                    
                        <ion-label>Adcionar aos favoritos</ion-label>
                        <ion-checkbox ngModel="favorito" ng-click="saveFavouriteIfCheckboxMarked()"></ion-checkbox><br>
                            <!-- Para fins de desenvolvimento -->
                        <div id="debug" style="display: none;">
                                <input type="text" id="resultado" value="{{data.street}}"><button ng-click="pegaResultado()">revelar Favoritos</button>


                        </div>
                     </ion-item>

                </ion-list>
            </ion-tab>

            <ion-tab title="Favoritos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" >
                <ion-list>   
                
                    <ion-radio ng-model="choice" ng-value="'A'" ng-repeat="fav in favoritos[1]" ng-click="loadAddressIntoField('A', 'favoritos')">{{favoritos[1]}}</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'B'" ng-repeat="fav in favoritos[2]" ng-click="loadAddressIntoField('B', 'favoritos')">{{favoritos[2]}}</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'C'" ng-repeat="fav in favoritos[3]" ng-click="loadAddressIntoField('C', 'favoritos')">{{favoritos[3]}}</ion-radio>
                    </ion-list>
            </ion-tab>

            <ion-tab title="Recentes" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                <ion-list>
                                  
                    <ion-radio ng-model="choice" ng-value="'A'" ng-repeat="endec in historico" ng-click="loadAddressIntoField('A', 'historico')">{{ endec.url}}</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'B'" ng-repeat="endec in historico" ng-click="loadAddressIntoField('B', 'historico')">{{ endec.url}}</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'C'" ng-repeat="endec in historico" ng-click="loadAddressIntoField('C', 'historico')">{{ endec.url}}</ion-radio>
                </ion-list>
            </ion-tab>

        </ion-tabs>
     
    </ion-content>
    
    <ion-footer-bar>
            <button ng-click="saveFavouriteIfCheckboxMarked()">Continuar</button>
    </ion-footer-bar>

</ion-view>


